body{
  margin: 0;
  padding: 0;
}

.main{
  background-color: #7bed9f;
  padding: 10px 10px 80px;
  display: flex;
  justify-content:space-around;
}

.poster{
  background-color: white;
  width: 200px;
  height: auto;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.image-div img{
  width: 100%;
  border-radius: 7px;
  cursor:pointer;
}

.image-div img:hover{
  filter: grayscale(50%);
}

.title{
  text-transform: uppercase;
  line-height: 5px;
  font-family: poppins;
  font-size: 10px;
  display: inline-block;
  cursor: pointer;
}

.para{
  text-align: justify;
  font-family: poppins;
  line-height:15px;
}

.button button{
  background-color: #7bed9f;
  border: none;
  width: 90%;
  border-radius: 4px;
  font-family: poppins;
  font-weight: bold;
  transition: 0.5s;
  text-transform: uppercase;
}

.button button:hover{
  letter-spacing: 3px;
  background-color: black;
  color: #7bed9f;
}

.button img{
  transform: translateY(3px);
}

.tooltip .tooltip-text{
  transform: translateX(90%) translateY(-23px);
  position: absolute;
  z-index: 1;
  background-color: black;
  color: white;
  display: inline-block;
  font-size: 10px;
  padding: 5px;
  visibility:hidden ;
  transition: 0.2s;
}

.tooltip .tooltip-text::after{
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
  right: 99%;
  bottom: 19%;
}

.tooltip:hover .tooltip-text{
  visibility: visible;
}

@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px) {
  .poster{
    width: 40%;
    height: auto;

    
  }
}






